.App {
  /* text-align: center; */
  background-image: url('./Assets/logo_make_11_06_2023_239.jpg');
  background-size: cover;
  height: 100vh;
}
#eBtn{
  background-color: rgb(0, 128, 128);
}

@media only screen and (max-width: 767px){
  .App{
    text-align: center;
    background-image: url('./Assets/FINDER6.jpg');
    background-size: cover;
    height: 100vh;
  }
}





