.App {
  text-align: center;
  background-image: url('./Assets/logo_make_11_06_2023_239.jpg');
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 767px){
  .App{
    text-align: center;
    background-image: url('./Assets/Mobile.jpg');
    background-size: cover;
    height: 100vh;
  }
}





